h1, h2, h3  {
text-align: center;  
line-height:100%; 
}

body{
    background: red; 
}

.intro{
    border: 3px black solid;
    margin: 10px;
}

#hero
{
    color: yellow;
    padding: 0px;
    margin: 0;

}
.form{
    clear: both;
}

img{
    width: 200px;
    height: 150px;
}